@theme {
    --color-bg: #f8f8f8;
    --color-dark: #3d3d3d;
    --color-accent: #f67649;
    --color-danger: #b91c1c;
    --color-pastel-salmon: #f9e5de;
    --color-pastel-blue: #e0ebf4;
    --color-pastel-taupe: #e0d2ce;
}
